body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
}

input {
    color: white;
}

#overlay-content {
    display: block;
    color: white;
    font-size: 1.2em;
    padding-bottom: 1em;
}

#class-select {
    background-color: none;
    border-color: #1e90ff;
    margin-bottom: 5px;
}