.list-unstyled li a {
  text-transform: none;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 2px;
  width: 4px;
}

body {
  width: 400px;
  height: 600px;
}

input {
  width: 300px;
}

